@model BL.SharedModels.ProductModel


@{
    ViewBag.Title = "ProductView";
    Layout = "~/Views/Shared/_Main.cshtml";
}





    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <div class="page_link">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Single Product Area =================-->


    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="s_product_img">
                        @{ var base64 = Convert.ToBase64String(@Model.Image);
                            var ImgSRC = string.Format("data:image/gif;base64,{0}", base64);
                        }
                        <img class="d-block w-100" src="@ImgSRC" alt="First slide">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">


                    <div class="s_product_text">
                        <h3>@Model.Product_Name</h3>
                        <h2>@Model.Product_Price L.E</h2>
                        <ul class="list">
                            <li>
                                <a class="active" href="@Url.Action("SelectedCategory", "Category", new { id = @Model.CatID })">
                                    <span>Category</span> : @Model.CatName
                                </a>
                            </li>
                            <li>
                                    <span>Availibility</span> : In Stock
                            </li>
                            <li>
                                <a  class="active" href="@Url.Action("SelectedUser", "User", new { id = @Model.VendorID })">
                                    <span>Sold By</span> : @Model.VendorName
                                </a>
                            </li>
                        </ul>

                        <p>@Model.Product_Description</p>


                        <div class="card_area">

                            @Ajax.ActionLink(" ", "Add", "Cart", new { ID = Model.Product_Id },
                new AjaxOptions
                {
                    UpdateTargetId = "shoppingCartID",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET"
                },
                new { @class = "fas fa-cart-plus font-size30" })                        


                          
                        </div>
                    </div>


                </div>
            </div>

            </div>
        </div>

         