
@{
    ViewBag.Title = "VendorOrders";
    Layout = "~/Views/Shared/_Profile.cshtml";
}


<!--================End Home Banner Area =================-->

<!--================Order Details Area =================-->
<section id="mysection" class="order_details p_120">
    <div class="container">
        <h3 class="title_confirmation">Thank you. Your order has been received.</h3>
        @foreach (var item in ViewBag.orders)
        {
            <div class="row order_d_inner">
                <div class="col-lg-4">
                    <div class="details_item">
                        <h4>Order Info</h4>
                        <ul class="list">
                            <li>
                                <a href="#">
                                    <span>Order number</span> : @item.Order_id
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Date</span> : @item.Order_Date
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Total</span> : USD @item.Expected_Price
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Payment method</span> : Check payments
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="details_item">
                        <h4>Shipping Address</h4>
                        <ul class="list">
                            <li>
                                <a href="#">
                                    <span>Street</span> : @item.Order_Address
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>City</span> : Alexandria
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                  
                </div>
            </div>
            <div class="order_details_table">
                <h2>Order Details</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Product Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p>@item.Product_Name</p>
                                </td>
                                <td>
                                    <p>@item.Product_Price</p>
                                </td>
                                <td>
                                    <h5>x @item.Quantity</h5>
                                </td>
                                <td>
                                    <p>$@(item.Quantity*item.Product_Price)</p>
                                </td>
                            </tr>
   
                        </tbody>
                    </table>
                </div>
            </div>
            @Ajax.ActionLink("Submit Order", "SubmitOrder", new { id = item.OrderDetail_Id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "mysection", OnComplete = "asd" },new { @class = "btn btn-info" })
            
        }
       
    </div>
</section>
<!--================End Order Details Area =================-->


