


<!doctype html>
<a href="~/Views/Shared/_Main.cshtml">~/Views/Shared/_Main.cshtml</a>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @*<link rel="icon" href="~/Assests/img/favicon.png" type="image/png">*@
    <title>Handmade Crafts</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Assests/css/bootstrap.css">
    <link rel="stylesheet" href="~/Assests/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/Assests/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assests/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assests/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="~/Assests/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/Assests/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="~/Assests/vendors/jquery-ui/jquery-ui.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Assests/css/style.css">

    <link rel="stylesheet" href="~/Assests/css/responsive.css">

    <!--Home Style for slider-->
    <link rel="stylesheet" href="~/Assests/css/multiItemSlider.css">
    <style>

        .toggle {
            --uiToggleSize: var(--toggleSize, 20px);
            --uiToggleIndent: var(--toggleIndent, .4em);
            --uiToggleBorderWidth: var(--toggleBorderWidth, 2px);
            --uiToggleColor: var(--toggleColor, #000);
            --uiToggleDisabledColor: var(--toggleDisabledColor, #868e96);
            --uiToggleBgColor: var(--toggleBgColor, #fff);
            --uiToggleArrowWidth: var(--toggleArrowWidth, 2px);
            --uiToggleArrowColor: var(--toggleArrowColor, #fff);
            display: inline-block;
            position: relative;
        }

        .toggle__input {
            position: absolute;
            left: -99999px;
        }

        .toggle__label {
            display: inline-flex;
            cursor: pointer;
            min-height: var(--uiToggleSize);
            padding-left: calc(var(--uiToggleSize) + var(--uiToggleIndent));
        }

            .toggle__label:before, .toggle__label:after {
                content: "";
                box-sizing: border-box;
                width: 1em;
                height: 1em;
                font-size: var(--uiToggleSize);
                position: absolute;
                left: 0;
                top: 0;
            }

            .toggle__label:before {
                border: var(--uiToggleBorderWidth) solid var(--uiToggleColor);
                z-index: 2;
            }

        .toggle__input:disabled ~ .toggle__label:before {
            border-color: var(--uiToggleDisabledColor);
        }

        .toggle__input:focus ~ .toggle__label:before {
            box-shadow: 0 0 0 2px var(--uiToggleBgColor), 0 0 0px 4px var(--uiToggleColor);
        }

        .toggle__input:not(:disabled):checked:focus ~ .toggle__label:after {
            box-shadow: 0 0 0 2px var(--uiToggleBgColor), 0 0 0px 4px var(--uiToggleColor);
        }

        .toggle__input:not(:disabled) ~ .toggle__label:after {
            background-color: var(--uiToggleColor);
            opacity: 0;
        }

        .toggle__input:not(:disabled):checked ~ .toggle__label:after {
            opacity: 1;
        }

        .toggle__text {
            margin-top: auto;
            margin-bottom: auto;
        }

            /*
  The arrow size and position depends from sizes of square because I needed an arrow correct positioning from the top left corner of the element toggle
  */

            .toggle__text:before {
                content: "";
                box-sizing: border-box;
                width: 0;
                height: 0;
                font-size: var(--uiToggleSize);
                border-left-width: 0;
                border-bottom-width: 0;
                border-left-style: solid;
                border-bottom-style: solid;
                border-color: var(--uiToggleArrowColor);
                position: absolute;
                top: .5428em;
                left: .2em;
                z-index: 3;
                transform-origin: left top;
                transform: rotate(-40deg) skew(10deg);
            }

        .toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text:before {
            width: .5em;
            height: .25em;
            border-left-width: var(--uiToggleArrowWidth);
            border-bottom-width: var(--uiToggleArrowWidth);
            will-change: width, height;
            transition: width .1s ease-out .2s, height .2s ease-out;
        }

        /*
  =====
  LEVEL 2. PRESENTATION STYLES
  =====
  */

        /* 
  The demo skin
  */

        .toggle__label:before, .toggle__label:after {
            border-radius: 2px;
        }

        /* 
  The animation of switching states
  */

        .toggle__input:not(:disabled) ~ .toggle__label:before,
        .toggle__input:not(:disabled) ~ .toggle__label:after {
            opacity: 1;
            transform-origin: center center;
            will-change: transform;
            transition: transform .2s ease-out;
        }

        .toggle__input:not(:disabled) ~ .toggle__label:before {
            transform: rotateY(0deg);
            transition-delay: .2s;
        }

        .toggle__input:not(:disabled) ~ .toggle__label:after {
            transform: rotateY(90deg);
        }

        .toggle__input:not(:disabled):checked ~ .toggle__label:before {
            transform: rotateY(-90deg);
            transition-delay: 0s;
        }

        .toggle__input:not(:disabled):checked ~ .toggle__label:after {
            transform: rotateY(0deg);
            transition-delay: .2s;
        }

        .toggle__text:before {
            opacity: 0;
        }

        .toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text:before {
            opacity: 1;
            transition: opacity .1s ease-out .3s, width .1s ease-out .5s, height .2s ease-out .3s;
        }

        /*
  =====
  LEVEL 3. SETTINGS
  =====
  */

        .toggle {
            --toggleColor: #690e90;
            --toggleBgColor: #9b59b6;
            --toggleSize: 50px;
        }
    </style>
</head>

<body>

   

    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="index.html">
                        <img src="~/Assests/img/logo.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                     
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <div class="row w-100">
                            <div class="col-lg-7 pr-0" style="padding-right: 0px;">
                                <ul class="nav navbar-nav center_nav pull-right">
                                    <li class="nav-item active">
                                        <a class="nav-link"  href="@Url.Action("Index","Home")">Home</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="@Url.Action("About","Home")">About</a>
                                    </li>
                                    <li class="nav-item submenu dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
                                        <ul class="dropdown-menu text">

                                            @{Html.RenderAction("showCategories", "Category");}

                                        </ul>
                                    </li>

                                 


                                    <li class="nav-item submenu dropdown" id="VendorID">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage My sells</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a class="nav-link" href="@Url.Action("Addpost","Vendor")">Add Post</a>
                                            <li class="nav-item">
                                                <a class="nav-link" href="@Url.Action("VendorOrders","Vendor")">Vendor Orders</a>
                                            <li class="nav-item">
                                                <a class="nav-link" href="@Url.Action("Search","Vendor")">Search</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item active " id="LoginID">
                                        <a class="nav-link" href="@Url.Action("Login","User")">Login</a>
                                    </li>
                                    <li class="nav-item active notuser" id="RegisterID">
                                        <a class="nav-link" href="@Url.Action("RegisterNewUser","User")">Register</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link"  href="@Url.Action("contact","User")">Contact</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-5">
                                <ul class="nav navbar-nav navbar-right right_nav pull-right">
                                    <hr>
                             

                                    <li class="nav-item">
                                        <a href="@Url.Action("myprofile","User")" class="icons">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                    <hr>

                                    @*<li class="nav-item">
                                        <a href="#" class="icons">
                                            <i class="far fa-heart" aria-hidden="true"></i>
                                        </a>
                                    </li>*@

                                    <hr>

                                    <li class="nav-item">
                                        <a href="@Url.Action("cartDisplay","Cart")" class="icons">
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                    </li>
                                    <a href="@Url.Action("cartDisplay","Cart")">
                                        <span id="shoppingCartID" class="font-weight-bold pr-4 mt-3 nav-link">
                                            @Session["count"]  <br />
                                            @Session["TotalPrice"] L.E
                                        </span>
                                    </a>

                                    <li class="nav-item" id="ProfileID">
                                        <a href="@Url.Action("Logout","User")" class="icons">
                                            <i class="fas fa-sign-out-alt"></i>
                                        </a>
                                    </li>

                                    <hr>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <!--================End Home Banner Area =================-->

    

        <section style="margin-top:75px">

            @RenderBody()

       
    </section>

    <!--================ start footer Area  =================-->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">About Us</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                    </div>
                </div>
               
           
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget f_social_wd">
                        <h6 class="footer_title">Follow Us</h6>
                        <p>Let us be social</p>
                        <div class="f_social">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-dribbble"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-behance"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-12 footer-text text-center">
                   
                </p>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Assests/js/jquery-3.2.1.min.js"></script>
    <script src="~/Assests/js/popper.js"></script>
    <script src="~/Assests/js/bootstrap.min.js"></script>
    <script src="~/Assests/js/stellar.js"></script>
    <script src="~/Assests/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="~/Assests/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/Assests/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/Assests/vendors/isotope/isotope-min.js"></script>
    <script src="~/Assests/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Assests/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Assests/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Assests/vendors/flipclock/timer.js"></script>
    <script src="~/Assests/vendors/counter-up/jquery.counterup.js"></script>
    <script src="~/Assests/js/mail-script.js"></script>
    <script src="~/Assests/js/theme.js"></script>
    <script src="~/Assests/js/navbaricons.js"></script>

    @RenderSection("scripts", required: false)


    <script src="~/Assests/js/multiItemSlider.js"></script>

    <script type="text/javascript">
      
        if ('@Session["User_Id"]' == "") {
            document.getElementById("LoginID").classList.remove("hide")
            document.getElementById("RegisterID").classList.remove("hide")
            document.getElementById("ProfileID").classList.add("hide")
            document.getElementById("VendorID").classList.add("hide")
          
        }
        else {
            
            document.getElementById("LoginID").classList.add("hide")
            document.getElementById("RegisterID").classList.add("hide")
            document.getElementById("ProfileID").classList.remove("hide")
            document.getElementById("VendorID").classList.remove("hide")

        }

    </script>


  

    <script src="~/Assests/js/multiItemSlider.js"></script>


</body>

</html>