@model List<DAL.Request_table>


@{
    ViewBag.Title = "DisplayVendorRedister";
}

<table name="tab">
    
    <sript>


        if (document.getElementById("radio")=="yes")
        {
          var[i] data =document.getElementById("Req_Id")
        }
        else
        {
        var[i] data1 =document.getElementById("Req_Id")
        }
        


    </sript>

    
    <thead></thead>
    
    <tbody>
    
        @foreach (var item in Model)
        {
            <tr>
                
                <td id="Req_id">
                    
                    @item.Request_Id

                </td>
                <td>

                    @item.Request_Date

                </td>
                <td>

                    @item.Full_Name

                </td>
                <td>

                    @item.National_ID

                </td>
                <td>

                    @item.Seller_info

                </td>
                <td>

                    @item.User_Id

                </td>

                <td><input type="radio" name="status" value="yes" id="radio"></td>
                <td><input type="radio" name="status" value="no" id="radio"></td>
              
            </tr>
  

        }

    </tbody>
</table>
         

<button> @Html.ActionLink("OK","ReqApproval",new { id= @ViewBag.Request}) </button>
