
@{
    ViewBag.Title = "DisplayUserPage";
}


<div id="div1">

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu">
            <button class="dropdown-item" type="button">

                @Html.ActionLink("My Orders", "Show_Orders", new { id = @ViewBag.ID })

            </button>
            <button class="dropdown-item" type="button">

                @*@Ajax.ActionLink("Register as Vendor", "Be_Vendor", new AjaxOptions { UpdateTargetId = "div1" }, new AjaxOptions { InsertionMode = InsertionMode.InsertAfter }, new { id = @ViewBag.ID })*@
                @Html.ActionLink("Register as Vendo", "Be_Vendor", new { id = @ViewBag.ID })
            </button>
            <button class="dropdown-item" type="button">

                @Html.ActionLink("Sign Out", "", new { id = @ViewBag.ID })
            </button>
        </div>
    </div>



</div>

