
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Main.cshtml";
}



<!--top seller slider-->
<div class="container">
    <div class="row">
        <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
            <div class="MultiCarousel-inner">

                @*<div class="item">
                    <div class="pad15">
                        <p class="lead">Multi Item Carousel</p>
                        <p>₹ 1</p>
                        <p>₹ 6000</p>
                        <p>50% off</p>
                    </div>
                </div>*@





                @foreach (BL.SharedModels.ProductModel item in ViewBag.topSeller)
                 {
                    var base64 = Convert.ToBase64String(@item.Image);
                    var ImgSRC = string.Format("data:image/gif;base64,{0}", base64);
                    <div class="col col1 item">
                        <div class="f_p_item ">
                            <div class="f_p_img ">
                                <img class="img-fluid" src="@ImgSRC" alt="@ViewBag.Product_Description">
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="far fa-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fas fa-cart-plus"></i>

                                    </a>
                                </div>
                            </div>
                            <div class="prodec">
                                <a href="#">
                                    <h4>@item.Product_Name</h4>
                                </a>
                            </div>

                            <h5>@item.Product_Price LE</h5>
                        </div>
                    </div>
                 }




            </div>
            <button class="btn btn-primary leftLst"><</button>
            <button class="btn btn-primary rightLst">></button>
        </div>
    </div>
    <!--top seller slider  End-->











    <section class="feature_product_area section_gap">
        <div class="main_box">
            <div class="container-fluid">
                <div class="row">
                    <div class="main_title">
                        <h2>Featured Products</h2>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col1">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="../Assests/img/product/feature-product/f-p-1.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="lnr lnr-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <h4>Long Sleeve TShirt</h4>
                            </a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col col2">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="../Assests/img/product/feature-product/f-p-2.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="lnr lnr-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <h4>Long Sleeve TShirt</h4>
                            </a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col col3">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="../Assests/img/product/feature-product/f-p-3.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="lnr lnr-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <h4>Long Sleeve TShirt</h4>
                            </a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col col4">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="../Assests/img/product/feature-product/f-p-4.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="lnr lnr-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <h4>Long Sleeve TShirt</h4>
                            </a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col col5">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="../Assests/img/product/feature-product/f-p-5.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="lnr lnr-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <h4>Long Sleeve TShirt</h4>
                            </a>
                            <h5>$150.00</h5>
                        </div>
                    </div>

                    <div class="col col6">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="../Assests/img/product/feature-product/f-p-5.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="lnr lnr-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <h4>Long Sleeve TShirt</h4>
                            </a>
                            <h5>$150.00</h5>
                        </div>
                    </div>

                    <div class="col col7">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="../Assests/img/product/feature-product/f-p-4.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="lnr lnr-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <h4>Long Sleeve TShirt</h4>
                            </a>
                            <h5>$150.00</h5>
                        </div>
                    </div>

                    <div class="col col8">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="../Assests/img/product/feature-product/f-p-5.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="lnr lnr-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <h4>Long Sleeve TShirt</h4>
                            </a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col col9">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="../Assests/img/product/feature-product/f-p-1.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="lnr lnr-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <h4>Long Sleeve TShirt</h4>
                            </a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                    <div class="col col10">
                        <div class="f_p_item">
                            <div class="f_p_img">
                                <img class="img-fluid" src="../Assests/img/product/feature-product/f-p-4.jpg" alt="">
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="lnr lnr-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="lnr lnr-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="#">
                                <h4>Long Sleeve TShirt</h4>
                            </a>
                            <h5>$150.00</h5>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <nav class="cat_page mx-auto" aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">01</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">02</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">03</a>
                            </li>
                            <li class="page-item blank">
                                <a class="page-link" href="#">...</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">09</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>



    </div>