
@*@{
    ViewBag.Title = "Show_Orders";
    Layout = "~/Views/Shared/_Profile.cshtml";
}*@


@model List<BL.SharedModels.MyOrdersModel>



<div id="div1" class="mb-5 pb-5">
     @*<h2 class="d-block mx-auto mb-5" > My Orders </h2>*@
    <table class="mt-5 pt-5 table table-bordered table-hover text-center">

        <thead>
            <tr>
                <th>Order No.</th>
                <th>Date</th>
                <th>Ship To</th>
                <th>Phone</th>
                <th>Order Total</th>
                <th>Order Details</th>

            </tr>
        </thead>

        <tbody style="color: #212529;">

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OrderId</td>
                    <td>@item.Date</td>
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                    <td>@item.Total</td>
                    <td>@Ajax.ActionLink("View", "ViewDtails",
                       new { id = @item.OrderId }, 
                       new AjaxOptions { UpdateTargetId = "div1" , HttpMethod="GET" })
                    </td>

                </tr>
            }

        </tbody>

    </table>


</div>










