
@model List<BL.SharedModels.MyOrdersModel>


   <h2  class="d-block mx-auto mb-4">
       <a href="@Url.Action("Show_Orders","User")"> My Orders </a>  =>
       <a>  Order Details  </a> 
   </h2>
    <table class="table table-bordered table-hover">

        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Product Price</th>
                <th>Status</th>
            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.ProductName</td>

                    <td>@item.Quantity</td>

                    <td>@item.Productprice</td>

                    <td>@item.Status</td>

                </tr>
            }

        </tbody>



    </table>
